Django==4.0.2
djangorestframework==3.13.1
django-environ==0.8.1
django-admin-autocomplete-filter==0.7.1
psycopg2-binary==2.9.3
# psycopg2>=2.8
watchdog==2.1.6
PyYAML==6.0
argh>=0.26.2,<0.27
black==22.1.0
